.categorie h2{
    padding: 3% 3% 0% 3%;
}

.plat{
    background-color: #1a463d;
    text-align: end;
    color: white;
    margin: 3% 0%;
    padding: 1% 3%;
}


@media all and (min-width: 700px){


    .categorie{
        max-width: 40em;
        margin: auto;
    }
    
    .plat{
        max-width: 40em;
        margin: 3% auto;
    }
    
  
}